<h1>About Labelizer</h1>
<p>Labelizer is a brain child of <a href="http://www.linkedin.com/in/jameschristianbauman">Chris Bauman</a>.  It is a simple label creator to provide nutritional information for homemade jam.  It is part of the project of the <a href="http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848#about">One Month Rails</a> class that I took through the SkillShare class to learn to prototype with     <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month.
</p>
<p>If you want to get ahold of me, reach out to me via <a href="http://www.twitter.com/Chris_Bauman">Twitter</a>.</p>